.preset-1.layout-2 .vg-header-static i,.preset-1.layout-3 .vg-header-static i{
    color:#bb0613
}
.preset-1.layout-2 .vina-product-search form,.preset-1.layout-3 .vina-product-search form{
    border-color:#bb0613
}
.preset-1.layout-1 .vina-product-search form button,.preset-1.layout-2 .vina-product-search form button,.preset-1.layout-3 .vina-product-search form button{
    background-color:#bb0613
}
.preset-1.layout-3 .block-static .icon{
    background:url(../images/icons/icon1.png) no-repeat
}
.preset-1.layout-3 .block-static .icon.icon-1{
    background-position:left top
}
.preset-1.layout-3 .block-static .icon.icon-4{
    background-position:left bottom
}
.preset-1.layout-3 .block-static .icon.icon-2{
    background-position:left -50px
}
.preset-1.layout-3 .block-static .icon.icon-3{
    background-position:left -100px
}
.preset-2 .logo-background{
    background:url(../images/logo/2/logo.png) center center no-repeat
}
.preset-2 .widget.topbar-widget ul li:hover:before,.preset-2 .widget.topbar-widget ul li:hover>a,.preset-2 .widget_nav_menu ul li:hover,.preset-2 .widget_nav_menu ul li:hover:before,.preset-2 .widget_pages ul li:hover,.preset-2 .widget_pages ul li:hover:before,.preset-2 a:hover{
    color:#bb0613
}
.preset-2 .widget.topbar-widget ul li>ul>li:hover>a{
    color:#bb0613!important
}
.preset-2 .main-navigation ul ul li a:hover,.preset-2 .mini_cart_inner .shopping_cart .cart-total-price,.preset-2 .mini_cart_inner:hover span{
    color:#bb0613
}
.preset-2 .mini_cart_inner:hover .shopping_cart .cart-quantity{
    color:#fff
}
.preset-2 .woocommerce ul.cart_list li .product-image .quantity,.preset-2 .woocommerce ul.product_list_widget li .product-image .quantity{
    background:#bb0613
}
.preset-2 .woocommerce ul.cart_list li .amount:hover,.preset-2 .woocommerce ul.product_list_widget li .amount:hover{
    color:#bb0613
}
.preset-2 .mcart-border{
    border-color:#bb0613
}
.preset-2 .title1:hover{
    color:#bb0613!important
}
.preset-2 .title1:before{
    background:#bb0613
}
.preset-2 .button1{
    color:#fff!important
}
.preset-2 .button1:hover .tp-splitted.tp-linesplit{
    background:#bb0613;
    color:#fff!important
}
.preset-2 .hesperiden .tp-bullet.selected,.preset-2 .hesperiden .tp-bullet:hover{
    background:#bb0613!important
}
.preset-2 .tab-products .vc_tta.vc_general .vc_tta-tab.vc_active>a,.preset-2 .tab-products .vc_tta.vc_general .vc_tta-tab:hover>a{
    color:#bb0613
}
.preset-2 .owl-theme .owl-controls .owl-buttons div:hover{
    border-color:#bb0613;
    background:#bb0613
}
.preset-2 .product-label span.featured{
    background:#000000!important;
}
.preset-2 .vgw-item-i .button-group a:hover{
    border-color:#bb0613;
    background:#bb0613;
    color:#fff
}
.preset-2 .vgw-item-i .button-group .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a{
    border-color:#bb0613;
    background:#bb0613
}
.preset-2 .widgettitle{
    background:#bb0613
}
.preset-2 .vgw-item-i .product-title a:hover{
    color:#bb0613
}
.preset-2 .menu-category ul li:hover:after,.preset-2 .menu-category ul li:hover>a{
    color:#bb0613!important
}
.preset-2 .menu-category .widget_nav_menu ul li.icon1:before{
    background:url(../images/icons/icon-12.png) no-repeat
}
.preset-2 .menu-category .widget_nav_menu ul li.icon2:before{
    background:url(../images/icons/icon-22.png) no-repeat
}
.preset-2 .menu-category .widget_nav_menu ul li.icon3:before{
    background:url(../images/icons/icon-32.png) no-repeat;
    top:23px
}
.preset-2 .menu-category .widget_nav_menu ul li.icon4:before{
    background:url(../images/icons/icon-42.png) no-repeat
}
.preset-2 .menu-category .widget_nav_menu ul li.icon5:before{
    background:url(../images/icons/icon-52.png) no-repeat;
    top:25px;
    height:22px
}
.preset-2 .menu-category .widget_nav_menu ul li.icon6:before{
    background:url(../images/icons/icon-62.png) no-repeat
}
.preset-2 .menu-category .widget_nav_menu ul li.icon7:before{
    background:url(../images/icons/icon-72.png) no-repeat
}
.preset-2 .main-navigation ul li ul li.current-menu-item a{
    color:#bb0613!important
}
.preset-2 .box-timer .day,.preset-2 .box-timer .hour,.preset-2 .box-timer .min,.preset-2 .box-timer .sec,.preset-2 .vgw-item-i.vgw-timer .add-to-cart:hover a,.preset-2 .vgw-item-i.vgw-timer .product-image .product-label span.featured,.preset-2 .wpb_heading.style1{
    background:#bb0613
}
.preset-2 .vgw-testimonial .testimonials .testimonial-i .testimonial-content{
    border-color:#bb0613
}
.preset-2 .vgw-testimonial .testimonials .testimonial-i .testimonial-content:before{
    background:url(../images/icons/line-testimonials-2.jpg) no-repeat;
    bottom:-31px
}
.preset-2 .item-i .post-readmore a:hover,.preset-2 .item-i .post-title a:hover,.preset-2 .vgp-item-i .post-readmore a:hover,.preset-2 .vgp-item-i .post-title a:hover{
    color:#bb0613
}
.preset-2 .brand-inner .brand-image:hover{
    border-color:#bb0613
}
.preset-2 .logo-background-footer{
    background:url(../images/logo/2/logo-bottom.png) center center no-repeat
}
.preset-2 .widget-footer.widget_vgw_social_media a:hover{
    border-color:#bb0613
}
.preset-2 .widget_vgw_social_media a:hover{
    background:#bb0613;
    border-color:#bb0613;
    color:#fff!important
}
.preset-2 .vg-newsletter-form .widget_wysija_cont .wysija-submit-wrap{
    border-color:#bb0613
}
.preset-2 .vg-newsletter-form .widget_wysija_cont .wysija-submit{
    background-color:#bb0613
}
.preset-2 .bottom-footer a,.preset-2 .widget-footer ul li:hover a{
    color:#bb0613
}
.preset-2 .to-top{
    background-color:#bb0613
}
.preset-2 .hesperiden.tparrows:hover{
    background-color:#bb0613!important
}
.preset-2 .title2:before{
    background:#bb0613
}
.preset-2 .button2:hover{
    color:#fff;
    background:#bb0613;
    border-color:#bb0613
}
.preset-2 .click-search:hover i,.preset-2 .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_nav_menu ul li:hover a:before{
    color:#bb0613
}
.preset-2 .header.home2 .search-wishlist-cart .search-wrap.home2 .widget_vg_calaco_product_search .vina-product-search form{
    border-color:#bb0613
}
.preset-2 .vina-product-search form button{
    background:#bb0613
}
.preset-2 .toolbar .view-mode a.active i,.preset-2 .toolbar .view-mode a:hover i{
    color:#bb0613
}
.preset-2 .toolbar .view-mode a.active{
    border-color:#bb0613
}
.preset-2 #secondary .widget-title h3:before,.preset-2 #secondary-2 .widget-title h3:before,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a.current,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a:hover,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li span.current,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li span:hover{
    color:#bb0613
}
.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a.next.current,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a.next:hover,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a.prev.current,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a.prev:hover{
    background:#bb0613!important
}
.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li a:before,.preset-2 .toolbar .woocommerce-pagination ul.page-numbers li span:before{
    background:#bb0613
}
.preset-2 div.vg-calaco-category-treeview .treeview li:hover a{
    color:#bb0613
}
.preset-2 .woocommerce.widget_price_filter .ui-slider .ui-slider-handle,.preset-2 .woocommerce.widget_price_filter .ui-slider .ui-slider-range{
    background-color:#bb0613
}
.preset-2 .shop-products.list-view .vgw-item-i .product-price ins,.preset-2 .woocommerce.widget_price_filter .price_label span{
    color:#bb0613
}
.preset-2 .shop-products.list-view .vgw-item-i .add-to-cart a{
    border-color:#bb0613;
    color:#bb0613
}
.preset-2 .shop-products.list-view .vgw-item-i .button-group a:hover{
    background:#bb0613;
    color:#fff
}
.preset-2 .shop-products.list-view .vgw-item-i .button-group a{
    border-color:#bb0613;
    color:#bb0613
}
.preset-2 #breadcrumbs{
    color:#bb0613
}
.preset-2 .widget_search .button:focus,.preset-2 .widget_search .button:hover,.preset-2 .widget_search .search-submit:focus,.preset-2 .widget_search .search-submit:hover{
    background:#bb0613!important;
    border-color:#bb0613!important
}
.preset-2 .post .entry-format,.preset-2 .post .posted-on{
    background-color:#bb0613
}
.preset-2 .post .byline .author a,.preset-2 .post .cat-links a{
    color:#bb0613
}
.preset-2 .tagcloud a:hover{
    color:#fff;
    background:#bb0613;
    border-color:#bb0613
}
.preset-2 .comments-area .comment-author b,.preset-2 .comments-area .reply a:hover:before,.preset-2 .s-text b,.preset-2 .sl-text b,.preset-2 .team-title .job,.preset-2 .widget_categories ul li.current-cat>a,.preset-2 .widget_categories ul li:hover>a,.preset-2 .widget_product_categories ul li.current-cat>a,.preset-2 .widget_product_categories ul li:hover>a{
    color:#bb0613
}
.preset-2 .wpcf7-form .wpcf7-submit:hover{
    border-color:#bb0613;
    background:#bb0613
}
.preset-2 .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active,.preset-2 .woocommerce-account .woocommerce-MyAccount-navigation ul li:hover{
    background:#bb0613!important;
}
.preset-2 .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table td .amount,.preset-2 .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table th .amount,.preset-2 .woocommerce table.shop_table .product-price ins,.preset-2 .woocommerce table.shop_table .product-price span,.preset-2 .woocommerce table.shop_table .product-subtotal span{
    color:#bb0613
}
.preset-2 .woocommerce .actions .coupon .button{
    background:#bb0613
}
.preset-2 .woocommerce-error,.preset-2 .woocommerce-info{
    border-color:#bb0613!important
}
.preset-2 .woocommerce-error:before,.preset-2 .woocommerce-info:before{
    color:#bb0613
}
.preset-2 #order_review #payment .place-order #place_order{
    background:#bb0613;
    border-color:#bb0613
}
.preset-2 .owl-theme .owl-controls .owl-buttons div:hover:before{
    color:#fff;
    border-color:#bb0613
}
.preset-2 .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.preset-2 .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a{
    color:#bb0613
}
.preset-2 .vg-bottom-bar.home3,.preset-2 .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after,.preset-2 .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a:after{
    background:#bb0613
}
.preset-2 .single-product-info .woocommerce-product-rating{
    color:#bb0613
}
.preset-2 .single-product-info .short-description:before{
    background:#bb0613
}
.preset-2 .single-product-info .in-stock span{
    color:#bb0613
}
.preset-2 .single-product-info .product-price{
    color:#bb0613!important
}
.preset-2 .vg-bottom-bar.home3 .ecommerce-wrap.home3 .mini_cart_inner .shopping_cart .cart-quantity{
    color:#bb0613
}
.preset-2 .button1.style2 .tp-splitted.tp-linesplit,.preset-2 .tp-bullet.selected,.preset-2 .tp-bullet:hover{
    background:#bb0613!important
}
.preset-2 .header.home3 #navigation .main-navigation ul>li>a:hover{
    color:#bb0613
}
.preset-2 .vg-bottom-bar.home4 .menu-category.home3 .cateproductmenu .header-widget-title h3{
    background:#bb0613!important
}
.preset-2 .header.home4 .vina-product-search form button,.preset-2 .vg-bottom-bar.home4 .main-navigation ul>li>a:hover{
    background:#bb0613
}
.preset-2 .vg-bottom-bar.home4 .main-navigation ul>li ul.sub-menu li a:hover{
    color:#bb0613
}
.preset-2 .click-search.active:hover:before,.preset-2 .mcart-border:after{
    color:#bb0613
}
.preset-2 .s-btn:hover{
    color:#fff;
    background:#bb0613
}
.preset-2 #vg-header-wrapper.fixed a:hover{
    color:#bb0613
}
.preset-3 .s-btn:hover{
    color:#fff;
    background:#ffc107
}
.preset-3 #vg-header-wrapper.fixed a:hover{
    color:#ffc107
}
.preset-3 .logo-background{
    background:url(../images/logo/3/logo.png) center center no-repeat
}
.preset-3 .widget.topbar-widget ul li:hover:before,.preset-3 .widget.topbar-widget ul li:hover>a,.preset-3 .widget_nav_menu ul li:hover,.preset-3 .widget_nav_menu ul li:hover:before,.preset-3 .widget_pages ul li:hover,.preset-3 .widget_pages ul li:hover:before,.preset-3 a:hover{
    color:#ffc107
}
.preset-3 .widget.topbar-widget ul li>ul>li:hover>a{
    color:#ffc107!important
}
.preset-3 .main-navigation ul ul li a:hover,.preset-3 .mini_cart_inner .shopping_cart .cart-total-price,.preset-3 .mini_cart_inner:hover span{
    color:#ffc107
}
.preset-3 .mini_cart_inner:hover .shopping_cart .cart-quantity{
    color:#fff
}
.preset-3 .woocommerce ul.cart_list li .product-image .quantity,.preset-3 .woocommerce ul.product_list_widget li .product-image .quantity{
    background:#ffc107
}
.preset-3 .woocommerce ul.cart_list li .amount:hover,.preset-3 .woocommerce ul.product_list_widget li .amount:hover{
    color:#ffc107
}
.preset-3 .mcart-border{
    border-color:#ffc107
}
.preset-3 .title1:hover{
    color:#000!important
}
.preset-3 .title1:before{
    background:#ffc107
}
.preset-3 .button1{
    color:#fff!important
}
.preset-3 .button1:hover .tp-splitted.tp-linesplit{
    background:#ffc107;
    color:#fff!important
}
.preset-3 .hesperiden .tp-bullet.selected,.preset-3 .hesperiden .tp-bullet:hover{
    background:#ffc107!important
}
.preset-3 .tab-products .vc_tta.vc_general .vc_tta-tab.vc_active>a,.preset-3 .tab-products .vc_tta.vc_general .vc_tta-tab:hover>a{
    color:#ffc107
}
.preset-3 .owl-theme .owl-controls .owl-buttons div:hover{
    border-color:#ffc107;
    background:#ffc107
}
.preset-3 .product-label span.featured{
    background:#ffc107
}
.preset-3 .vgw-item-i .button-group a:hover{
    border-color:#ffc107;
    background:#ffc107;
    color:#fff
}
.preset-3 .vgw-item-i .button-group .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a{
    border-color:#ffc107;
    background:#ffc107
}
.preset-3 .widgettitle{
    background:#ffc107
}
.preset-3 .vgw-item-i .product-title a:hover{
    color:#ffc107
}
.preset-3 .menu-category ul li:hover:after,.preset-3 .menu-category ul li:hover>a{
    color:#ffc107!important
}
.preset-3 .menu-category .widget_nav_menu ul li.icon1:before{
    background:url(../images/icons/icon-13.png) no-repeat
}
.preset-3 .menu-category .widget_nav_menu ul li.icon2:before{
    background:url(../images/icons/icon-23.png) no-repeat
}
.preset-3 .menu-category .widget_nav_menu ul li.icon3:before{
    background:url(../images/icons/icon-33.png) no-repeat;
    top:23px
}
.preset-3 .menu-category .widget_nav_menu ul li.icon4:before{
    background:url(../images/icons/icon-43.png) no-repeat
}
.preset-3 .menu-category .widget_nav_menu ul li.icon5:before{
    background:url(../images/icons/icon-53.png) no-repeat;
    top:25px;
    height:22px
}
.preset-3 .menu-category .widget_nav_menu ul li.icon6:before{
    background:url(../images/icons/icon-63.png) no-repeat
}
.preset-3 .menu-category .widget_nav_menu ul li.icon7:before{
    background:url(../images/icons/icon-73.png) no-repeat
}
.preset-3 .main-navigation ul li ul li.current-menu-item a{
    color:#ffc107!important
}
.preset-3 .box-timer .day,.preset-3 .box-timer .hour,.preset-3 .box-timer .min,.preset-3 .box-timer .sec,.preset-3 .vgw-item-i.vgw-timer .add-to-cart:hover a,.preset-3 .vgw-item-i.vgw-timer .product-image .product-label span.featured,.preset-3 .wpb_heading.style1{
    background:#ffc107
}
.preset-3 .vgw-testimonial .testimonials .testimonial-i .testimonial-content{
    border-color:#ffc107
}
.preset-3 .vgw-testimonial .testimonials .testimonial-i .testimonial-content:before{
    background:url(../images/icons/line-testimonials-3.jpg) no-repeat;
    bottom:-31px
}
.preset-3 .item-i .post-readmore a:hover,.preset-3 .item-i .post-title a:hover,.preset-3 .vgp-item-i .post-readmore a:hover,.preset-3 .vgp-item-i .post-title a:hover{
    color:#ffc107
}
.preset-3 .brand-inner .brand-image:hover{
    border-color:#ffc107
}
.preset-3 .logo-background-footer{
    background:url(../images/logo/3/logo-bottom.png) center center no-repeat
}
.preset-3 .widget-footer.widget_vgw_social_media a:hover{
    border-color:#ffc107
}
.preset-3 .widget_vgw_social_media a:hover{
    background:#ffc107;
    border-color:#ffc107;
    color:#fff!important
}
.preset-3 .vg-newsletter-form .widget_wysija_cont .wysija-submit-wrap{
    border-color:#ffc107
}
.preset-3 .vg-newsletter-form .widget_wysija_cont .wysija-submit{
    background-color:#ffc107
}
.preset-3 .bottom-footer a,.preset-3 .widget-footer ul li:hover a{
    color:#ffc107
}
.preset-3 .to-top{
    background-color:#ffc107
}
.preset-3 .hesperiden.tparrows:hover{
    background-color:#ffc107!important
}
.preset-3 .title2:before{
    background:#ffc107
}
.preset-3 .button2:hover{
    color:#fff;
    background:#ffc107;
    border-color:#ffc107
}
.preset-3 .click-search:hover i,.preset-3 .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_nav_menu ul li:hover a:before{
    color:#ffc107
}
.preset-3 .header.home2 .search-wishlist-cart .search-wrap.home2 .widget_vg_calaco_product_search .vina-product-search form{
    border-color:#ffc107
}
.preset-3 .vina-product-search form button{
    background:#ffc107
}
.preset-3 .toolbar .view-mode a.active i,.preset-3 .toolbar .view-mode a:hover i{
    color:#ffc107
}
.preset-3 .toolbar .view-mode a.active{
    border-color:#ffc107
}
.preset-3 #secondary .widget-title h3:before,.preset-3 #secondary-2 .widget-title h3:before,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a.current,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a:hover,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li span.current,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li span:hover{
    color:#ffc107
}
.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a.next.current,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a.next:hover,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a.prev.current,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a.prev:hover{
    background:#ffc107!important
}
.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li a:before,.preset-3 .toolbar .woocommerce-pagination ul.page-numbers li span:before{
    background:#ffc107
}
.preset-3 div.vg-calaco-category-treeview .treeview li:hover a{
    color:#ffc107
}
.preset-3 .woocommerce.widget_price_filter .ui-slider .ui-slider-handle,.preset-3 .woocommerce.widget_price_filter .ui-slider .ui-slider-range{
    background-color:#ffc107
}
.preset-3 .shop-products.list-view .vgw-item-i .product-price ins,.preset-3 .woocommerce.widget_price_filter .price_label span{
    color:#ffc107
}
.preset-3 .shop-products.list-view .vgw-item-i .add-to-cart a{
    border-color:#ffc107;
    color:#ffc107
}
.preset-3 .shop-products.list-view .vgw-item-i .button-group a:hover{
    background:#ffc107;
    color:#fff
}
.preset-3 .shop-products.list-view .vgw-item-i .button-group a{
    border-color:#ffc107;
    color:#ffc107
}
.preset-3 #breadcrumbs{
    color:#ffc107
}
.preset-3 .widget_search .button:focus,.preset-3 .widget_search .button:hover,.preset-3 .widget_search .search-submit:focus,.preset-3 .widget_search .search-submit:hover{
    background:#ffc107!important;
    border-color:#ffc107!important
}
.preset-3 .post .entry-format,.preset-3 .post .posted-on{
    background-color:#ffc107
}
.preset-3 .post .byline .author a,.preset-3 .post .cat-links a{
    color:#ffc107
}
.preset-3 .tagcloud a:hover{
    color:#fff;
    background:#ffc107;
    border-color:#ffc107
}
.preset-3 .comments-area .comment-author b,.preset-3 .comments-area .reply a:hover:before,.preset-3 .s-text b,.preset-3 .sl-text b,.preset-3 .team-title .job,.preset-3 .widget_categories ul li.current-cat>a,.preset-3 .widget_categories ul li:hover>a,.preset-3 .widget_product_categories ul li.current-cat>a,.preset-3 .widget_product_categories ul li:hover>a{
    color:#ffc107
}
.preset-3 .wpcf7-form .wpcf7-submit:hover{
    border-color:#ffc107;
    background:#ffc107
}
.preset-3 .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active,.preset-3 .woocommerce-account .woocommerce-MyAccount-navigation ul li:hover{
    background:#ffc107
}
.preset-3 .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table td .amount,.preset-3 .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table th .amount,.preset-3 .woocommerce table.shop_table .product-price ins,.preset-3 .woocommerce table.shop_table .product-price span,.preset-3 .woocommerce table.shop_table .product-subtotal span{
    color:#ffc107
}
.preset-3 .woocommerce .actions .coupon .button{
    background:#ffc107
}
.preset-3 .woocommerce-error,.preset-3 .woocommerce-info{
    border-color:#ffc107!important
}
.preset-3 .woocommerce-error:before,.preset-3 .woocommerce-info:before{
    color:#ffc107
}
.preset-3 #order_review #payment .place-order #place_order{
    background:#ffc107;
    border-color:#ffc107
}
.preset-3 .owl-theme .owl-controls .owl-buttons div:hover:before{
    color:#fff;
    border-color:#ffc107
}
.preset-3 .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.preset-3 .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a{
    color:#ffc107
}
.preset-3 .vg-bottom-bar.home3,.preset-3 .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after,.preset-3 .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a:after{
    background:#ffc107
}
.preset-3 .click-search.active:hover:before,.preset-3 .single-product-info .woocommerce-product-rating{
    color:#ffc107
}
.preset-3 .single-product-info .short-description:before{
    background:#ffc107
}
.preset-3 .single-product-info .in-stock span{
    color:#ffc107
}
.preset-3 .single-product-info .product-price{
    color:#ffc107!important
}
.preset-3 .vg-bottom-bar.home3 .ecommerce-wrap.home3 .mini_cart_inner .shopping_cart .cart-quantity{
    color:#ffc107
}
.preset-3 .button1.style2 .tp-splitted.tp-linesplit,.preset-3 .tp-bullet.selected,.preset-3 .tp-bullet:hover{
    background:#ffc107!important
}
.preset-3 .header.home3 #navigation .main-navigation ul>li>a:hover{
    color:#ffc107
}
.preset-3 .vg-bottom-bar.home4 .menu-category.home3 .cateproductmenu .header-widget-title h3{
    background:#ffc107!important
}
.preset-3 .header.home4 .vina-product-search form button,.preset-3 .vg-bottom-bar.home4 .main-navigation ul>li>a:hover{
    background:#ffc107
}
.preset-3 .mcart-border:after,.preset-3 .vg-bottom-bar.home4 .main-navigation ul>li ul.sub-menu li a:hover{
    color:#ffc107
}
@media screen and (min-width:1200px){
    .container{
        width:1200px
    }
}
@media screen and (min-width:1023px){
    .visible-lg{
        display:block!important
    }
}
@media screen and (max-width:1200px){
    .ft-about-me{
        padding:0!important
    }
    .woocommerce tbody tr td.product-quantity .quantity{
        position:relative
    }
    .woocommerce tbody tr td.product-quantity .quantity .minus,.woocommerce tbody tr td.product-quantity .quantity .plus{
        position:absolute;
        top:0;
        right:0;
        height:20px;
        line-height:20px;
        border:none
    }
    .woocommerce tbody tr td.product-quantity .quantity .minus{
        top:auto;
        bottom:0
    }
    .woocommerce tbody tr td.product-quantity .quantity input[type=text]{
        padding-right:20px
    }
    .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tbody tr td,.woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tbody tr th{
        padding-top:10px!important;
        padding-bottom:10px!important
    }
    .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tbody tr td{
        padding-left:5px
    }
    .intro{
        padding:25px;
        margin-bottom:0
    }
    .intro .wpb_heading{
        margin-bottom:25px
    }
    .woocommerce table.shop_table .product-name{
        width:350px
    }
    .vgw-item-i .product-title{
        font-size:13px
    }
    .vg-newsletter-form .widget_wysija_cont .wysija-input{
        width:80%!important
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-content{
        padding:20px 10px 20px 40px
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-content .description:before{
        left:-32px
    }
    .widget-footer ul li a{
        font-size:13px
    }
    .vgw-item-i.vgw-timer .product-content{
        padding:10px
    }
    .vgw-item-i.vgw-timer .product-content .box-timer .timer-grid>div{
        height:44px;
        width:44px
    }
    .vgw-item-i.vgw-timer .product-content .box-timer .timer-grid>div span{
        font-size:16px;
        margin-top:4px
    }
    .header.home2 #navigation .main-navigation>ul>li.menu-item-has-children{
        margin-right:0;
        padding-right:0
    }
    .header.home2 #navigation .main-navigation>ul>li.menu-item-has-children>a:after{
        right:0
    }
    .header.home2 #navigation .main-navigation>ul>li>a{
        padding:18px 15px
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_shopping_cart .mini_cart_inner .shopping_cart .sub-title{
        display:none
    }
    .header.home3 #navigation .main-navigation ul>li>a{
        padding:18px 15px
    }
    .header.home3 #navigation .main-navigation>ul>li.menu-item-has-children>a:after{
        right:0
    }
    .header.home3 .free-call-us .call-inside .header-home3{
        text-align:center
    }
    .header.home3 .free-call-us .call-inside .header-home3 img{
        display:none
    }
    .ecommerce-wrap.home3 .ecommerce-inside .widget{
        padding:0
    }
    .ecommerce-wrap.home3 .ecommerce-inside .widget .mini_cart_inner .shopping_cart .sub-title{
        display:none
    }
    .ecommerce-wrap.home3 .ecommerce-inside .widget .mini_cart_inner .shopping_cart .cart-quantity{
        background:#bb0613;
        min-width:18px;
        line-height:18px;
        color:#fff;
        top:-11px;
        right:14px
    }
    .vg-bottom-bar.home3 .menu-category.home3 .cateproductmenu ul li{
        padding:20.5px 0 20.5px 65px
    }
    .vg-bottom-bar.home3 .menu-category.home3 .cateproductmenu ul li.menu-item-has-children:after{
        line-height:57px
    }
    .vg-bottom-bar.home3 .menu-category.home3 .cateproductmenu ul li:before{
        top:12px
    }
    .vg-bottom-bar.home3 .menu-category.home3 .cateproductmenu ul li.icon5:before{
        top:17px
    }
    .vgw-item-i.vgw-vertical .product-content,.vgw-item-i.vgw-vertical .product-image{
        padding:0
    }
    .vgw-item-i.vgw-vertical .button-group{
        top:46px;
        left:-7px
    }
    .vg-bottom-bar.home4 .main-navigation>ul>li.menu-item-has-children{
        padding-right:0;
        margin-right:0
    }
    .single-product-info .cart .single_add_to_cart_button.disabled{
        padding:20px 35px
    }
    .single-product-info .cart .quantity{
        height:61px;
        margin-right:10px
    }
    .single-product-info .cart .quantity .qty.text{
        height:61px!important;
        width:75px!important
    }
    .single-product-info .cart .quantity .minus{
        top:8px
    }
    .single-product-info .cart .quantity .plus{
        bottom:10px
    }
    .single-product-info .cart .single_add_to_cart_button{
        padding:20px 40px
    }
    .single-product-info .action-buttons a{
        width:61px;
        height:61px
    }
    .single-product-info .action-buttons a:before{
        line-height:61px
    }
    .header.home2 .search-wishlist-cart:before{
        left:-20px
    }
}
@media screen and (max-width:1023px){
    .visible-xs{
        display:block!important
    }
    .vc_content,.vc_sidebar{
        width:100%!important;
        margin-bottom:40px
    }
    .group-featured .vc_column_container,.group-sale .vc_column_container,.group-vertical-products .vc_column_container{
        width:100%!important;
        min-height:1px
    }
    .group-vertical-products .vc_column_container{
        margin-bottom:35px!important
    }
    .group-featured .vc_column_container:first-child{
        border-right-width:0;
        border-bottom-width:1px
    }
    .group-featured-2{
        padding:40px 0 20px!important
    }
    .group-featured-2 .vc_column_container{
        margin-bottom:35px!important
    }
    .group-featured-2 .vc_column_container:last-child{
        margin-bottom:0!important
    }
    .group-featured-2 .wpb_single_image{
        margin-top:35px!important
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        padding:10px 0
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a{
        padding:0 15px;
        font-size:18px;
        line-height:23px
    }
    .about-text .vc_column_container{
        width:100%
    }
    .result-box{
        padding:50px 0
    }
}
@media screen and (max-width:991px){
    .logo-background{
        margin:0 auto
    }
    .logo-footer .logo-background{
        margin:0
    }
    .vg-header-static{
        text-align:center
    }
    .tools_button{
        margin:10px 0
    }
    .click-search{
        display:inline-block
    }
    .block-static .box-col{
        margin-bottom:30px
    }
    .block-static .icon-box{
        float:none!important
    }
    .block-static .icon{
        margin:0 auto 20px
    }
    .block-static .content-box{
        text-align:center
    }
    .block-static.style1 .box-col{
        border:none!important
    }
    .block-static.style3 .box-col{
        margin-bottom:0;
        width:50%
    }
    .block-static.style3 .box-col-inner{
        border-bottom:none
    }
    .col-md-5ths{
        width:50%;
        margin-bottom:25px
    }
    .col-md-5ths:nth-child(2n+1){
        clear:both
    }
    .col-md-5ths:last-child{
        width:100%
    }
    .list-person .vc_column_container{
        width:50%;
        float:left
    }
    .contact-info{
        padding:0 30px
    }
    .contact-form .wpcf7-form{
        padding:25px 25px 10px
    }
    .wpcf7-form .field-wrap{
        width:100%;
        padding:0!important
    }
    .contact-page .map{
        max-height:400px
    }
    #content,#secondary{
        margin-bottom:35px
    }
    .woocommerce table.shop_table td,.woocommerce table.shop_table th{
        text-align:center
    }
    .woocommerce table.shop_table th{
        font-weight:700;
        text-transform:uppercase
    }
    .woocommerce table.shop_table th.product-name{
        text-align:center
    }
    .woocommerce table.shop_table .product-name{
        width:auto
    }
    .woocommerce table.shop_table .product-thumbnail{
        max-width:100px;
        min-width:100px
    }
    .woocommerce table.shop_table .product-quantity .quantity{
        margin:0;
        display:inline-block
    }
    .woocommerce table.shop_table .product-quantity .quantity .section-title{
        display:none
    }
    .box-slider .vc_column_container{
        width:100%!important
    }
    .box-slider .vc_column_container .wpb_revslider_element{
        margin-bottom:35px
    }
    .vgw-category{
        height:auto
    }
    .shop-products .vgw-item.first{
        clear:none
    }
    .shop-products .vgw-item:nth-child(2n+1){
        clear:both
    }
    .header-widget ul li,.topbar-widget ul li{
        padding:12px 7px!important
    }
    .top-bar .widget{
        margin:0
    }
    .header .ecommerce-wrap{
        padding:0 15px;
        position:absolute;
        bottom:-71px;
        right:0
    }
    .header .ecommerce-wrap:before{
        display:none
    }
    #logo-wrapper{
        padding:15px
    }
    .search-wrap{
        padding:30px 15px
    }
    .menu-category .widget_nav_menu ul li:before{
        display:none
    }
    .menu-category .widget_nav_menu ul li{
        padding:15px 0 15px 15px
    }
    .menu-category .widget_nav_menu ul li.menu-item-has-children:after{
        line-height:46px
    }
    .vgw-item-i.vgw-timer .product-image .product-label span{
        min-width:40px;
        width:40px;
        height:40px;
        line-height:38px;
        font-size:12px
    }
    .vgw-item-i.vgw-timer .product-content{
        padding:10px
    }
    .vgw-item-i.vgw-timer .product-content .box-timer{
        display:none
    }
    .wpb_heading.style1{
        padding:14px;
        font-size:18px
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-info{
        margin-top:30px
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-info .client-image{
        width:30%
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-info .client-name{
        padding:10px 0 0 10px
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-info .client-position{
        padding:0 0 0 10px
    }
    .ft-about-me{
        margin-bottom:40px
    }
    .logo-footer{
        margin-bottom:10px
    }
    .footer-widget-title h3{
        font-size:18px
    }
    #menu-footer,.footer{
        padding:30px 0
    }
    #menu-footer .colmenuft:nth-child(3n+1){
        clear:both
    }
    #menu-footer .menuft4,#menu-footer .menuft5,#menu-footer .menuft6{
        margin-top:40px
    }
    .widget-footer ul li a{
        font-size:14px
    }
    .bottom-footer{
        padding:20px 0
    }
    .bottom-footer .col-payment,.bottom-footer .copyright{
        text-align:center
    }
    .bottom-footer .col-payment{
        padding-top:20px
    }
    .header.home2 .search-wishlist-cart{
        padding:5px 15px 15px
    }
    .header.home2 .search-wishlist-cart .search-wrap.home2{
        padding:0 15px
    }
    .header.home2 .search-wishlist-cart .search-wrap.home2 .click-search{
        display:none
    }
    .header.home2 .search-wishlist-cart .search-wrap.home2 .widget_vg_calaco_product_search .vina-product-search{
        visibility:visible;
        overflow:visible;
        opacity:1;
        width:auto;
        position:static
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_nav_menu ul li a{
        height:52px
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_nav_menu ul li a:before{
        line-height:52px
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_shopping_cart .mini_cart_inner .shopping_cart{
        line-height:55px;
        height:52px
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_shopping_cart .mini_cart_inner .shopping_cart .cart-quantity{
        top:7px;
        right:-8px
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2{
        padding:0 15px;
        text-align:left
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_shopping_cart{
        margin-left:20px
    }
    .header.home2 #navigation{
        padding:0 15px
    }
    .tab-products .vc_tta.vc_general .vc_tta-tabs-list{
        padding:20px 0
    }
    .tab-products .vc_tta.vc_general .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-body .owl-theme .owl-controls .owl-buttons{
        top:-38%
    }
    .header.home3 .free-call-us{
        display:none
    }
    .header.home3 #navigation{
        padding:0 15px
    }
    .vg-bottom-bar.home3 .menu-category.home3{
        display:none
    }
    .slider-fullsm,.slider-fullsm .slider-home3>ul.tp-revslider-mainul{
        width:100%!important
    }
    .header.home4 .ecommerce-wrap{
        position:static
    }
    .header.home4 .ecommerce-wrap .mini_cart_inner .shopping_cart{
        padding:10px
    }
    .header.home4 .search-wrap{
        padding:0 15px
    }
    .vg-bottom-bar.home4{
        margin:15px 0
    }
    .hidden-sm{
        display:none
    }
    .content-sidebar-1 .vc_column-inner .vc_inner.vc_row-fluid .vc_column-inner{
        margin-bottom:0!important
    }
    .title1:before{
        display:none
    }
    .tab-products .wpb_column .vc_column-inner .wpb_wrapper>.wpb_text_column{
        margin-bottom:0!important
    }
    .shop-products.list-view .vgw-item-i .button-group .vgw-wishlist{
        clear:both
    }
    .shop-products.list-view .vgw-item-i .button-group .add-to-cart{
        margin-bottom:20px
    }
    .vgp-item-i .post-readmore{
        margin-top:15px
    }
}
@media screen and (max-width:800px){
    .tab-products .vc_tta.vc_general .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-body .owl-theme .owl-controls .owl-buttons{
        top:-27%
    }
}
@media screen and (max-width:768px){
    .page-account .page-content .site-content .page .post-wrapper .post-content .woocommerce .col2-set .col-2{
        margin-top:30px
    }
}
@media screen and (max-width:767px){
    .widget.widget-footer:last-child{
        margin-bottom:40px
    }
    .bottom-footer .widget.widget-footer:last-child,.vg-newsletter-form .widget.widget-footer:last-child{
        margin-bottom:0
    }
    .vgw-item-i.vgw-vertical:hover .product-price,.vgw-item-i.vgw-vertical:hover .product-rating{
        opacity:1;
        filter:alpha(opacity=100);
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0);
        -webkit-transition:all .45s ease;
        -moz-transition:all .45s ease;
        -o-transition:all .45s ease;
        transition:all .45s ease
    }
    .vgw-item-i.vgw-vertical .button-group{
        display:none
    }
    .vgw-item-i .button-group{
        -webkit-transform:translate(0,0)!important;
        -moz-transform:translate(0,0)!important;
        -ms-transform:translate(0,0)!important;
        -o-transform:translate(0,0)!important;
        transform:translate(0,0)!important
    }
    .vgw-item-i .button-group>div{
        opacity:1;
        filter:alpha(opacity=100);
        -webkit-transform:translate(0,0)!important;
        -moz-transform:translate(0,0)!important;
        -ms-transform:translate(0,0)!important;
        -o-transform:translate(0,0)!important;
        transform:translate(0,0)!important
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading{
        background-color:transparent;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -ms-border-radius:0;
        border-radius:0;
        margin:15px 0!important;
        border-color:#222
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover{
        background-color:#222;
        color:#fff
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover .vc_tta-panel-title>a{
        color:#fff
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a{
        color:#222;
        text-transform:uppercase;
        font-weight:400
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading{
        background-color:#222;
        border-color:#222
    }
    .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a{
        color:#fff
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs{
        text-align:left
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        display:block!important
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li:after{
        display:none
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a{
        border:none!important;
        padding:0
    }
    .result-wrap .wpb_button,.result-wrap .wpb_content_element,.result-wrap ul.wpb_thumbnails-fluid>li{
        margin-bottom:0
    }
    .contact-form{
        padding:50px 15px
    }
    .contact-info{
        padding:45px 0 0
    }
    .woocommerce .actions .cart-total-wrapper .total-cost{
        margin-top:25px
    }
    .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tr{
        display:table-row
    }
    .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table td,.woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table th{
        width:50%
    }
    #customer_details,#order_review{
        padding:0 0 25px;
        width:100%
    }
    #order_review .shop_table td:before{
        display:none
    }
    .top-bar .col-topbar{
        text-align:center!important
    }
    .header .search-wrap{
        padding:0 15px
    }
    .header .ecommerce-wrap{
        position:static
    }
    .menu-category .widget_nav_menu ul li{
        padding:25px 0 25px 70px
    }
    .menu-category .widget_nav_menu ul li:before{
        display:block!important
    }
    .vgw-item-i.vgw-timer .product-content .add-to-cart{
        display:inline-block
    }
    .vgw-item-i.vgw-timer .product-content .box-timer{
        display:block
    }
    .vgw-item-i.vgw-timer .product-content{
        padding:12px
    }
    .vgw-item-i.vgw-timer .product-content .box-timer .timer-grid>div{
        height:50px;
        width:50px
    }
    .vgw-item-i.vgw-timer .product-content .box-timer .timer-grid>div span{
        font-size:18px;
        margin-top:4px
    }
    .tab-products .vc_tta.vc_general .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-body .owl-theme .owl-controls .owl-buttons{
        display:none
    }
    .vgw-testimonial .testimonials .testimonial-i .testimonial-info .client-image{
        width:auto
    }
    .vg-newsletter-form .widget_wysija_cont{
        max-width:100%
    }
    .vg-newsletter-form .widget_wysija_cont .wysija-input{
        width:92%!important
    }
    #menu-footer .menuft4,#menu-footer .menuft5,#menu-footer .menuft6{
        margin-top:0
    }
    #menu-footer{
        padding-bottom:0
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2{
        text-align:center;
        padding:15px 15px 0
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_nav_menu{
        display:none
    }
    .header.home2 .search-wishlist-cart .vg-woo-header2 .widget_shopping_cart .mini_cart_inner .shopping_cart .sub-title{
        display:inline-block
    }
    .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body{
        background-color:#fff!important
    }
    .ecommerce-wrap.home3 .ecommerce-inside .widget .mini_cart_inner .shopping_cart .sub-title{
        display:inline-block!important
    }
    .header.home4 .ecommerce-wrap{
        padding-top:10px
    }
}
@media screen and (max-width:599px){
    .col-topbar{
        width:100%;
        text-align:center
    }
    .click-search{
        display:none
    }
    #navigation,.ecommerce-wrap{
        width:100%
    }
    .ecommerce-inside{
        text-align:center
    }
    .mcart-border{
        display:none
    }
    .comments-area .children{
        padding-left:0
    }
    .vgw-item-i.timer-lagre-2 .box-timer{
        padding-right:15px
    }
    .vgw-item-i.timer-lagre-2 .box-timer:after{
        display:none
    }
    .vgw-item-i.timer-lagre-2 .box-timer .day,.vgw-item-i.timer-lagre-2 .box-timer .hour,.vgw-item-i.timer-lagre-2 .box-timer .min,.vgw-item-i.timer-lagre-2 .box-timer .sec{
        padding:0 4px
    }
    .vgw-item-i.timer-lagre-2 .box-timer .day span,.vgw-item-i.timer-lagre-2 .box-timer .hour span,.vgw-item-i.timer-lagre-2 .box-timer .min span,.vgw-item-i.timer-lagre-2 .box-timer .sec span{
        font-size:18px
    }
    .shop-products .vgw-item{
        width:100%
    }
    .toolbar .view-mode,.toolbar .woocommerce-ordering,.toolbar .woocommerce-result-count{
        float:none;
        display:block
    }
    .toolbar .view-mode{
        margin-top:0
    }
    .toolbar .view-mode:after,.toolbar .view-mode:before{
        content:'';
        display:table
    }
    .toolbar .view-mode:after{
        clear:both
    }
    .toolbar .woocommerce-result-count{
        margin:15px 0 0
    }
    .toolbar .woocommerce-ordering{
        margin-top:15px
    }
    .post.list .post-content,.post.list .post-thumbnail{
        width:100%!important;
        float:none!important
    }
    .post.list .post-content{
        padding:15px 0!important
    }
    .woocommerce form.cart-form thead{
        display:none
    }
    .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tbody tr{
        border-top:none!important;
        border-bottom:none!important
    }
    .woocommerce table.shop_table{
        margin:1em 0;
        min-width:300px
    }
    .woocommerce table.shop_table tr{
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        display:block!important
    }
    .woocommerce table.shop_table tr:first-child td{
        border-top:1px solid #ddd!important
    }
    .woocommerce table.shop_table tr td{
        display:block!important;
        margin:0!important;
        padding-left:10px!important
    }
    .woocommerce table.shop_table th{
        display:none
    }
    .woocommerce table.shop_table td:first-child{
        padding-top:.5em
    }
    .woocommerce table.shop_table td:last-child{
        padding-bottom:.5em
    }
    .woocommerce table.shop_table td:before{
        content:attr(data-th) " ";
        font-weight:700;
        width:6.5em;
        display:inline-block;
        font-size:14px;
        text-transform:none;
        color:rgba(34,34,34,.5)
    }
    .woocommerce table.shop_table td,.woocommerce table.shop_table th{
        text-align:left!important
    }
    .woocommerce table.shop_table .product-thumbnail{
        max-width:100%;
        margin:0 auto!important;
        border-top:0!important
    }
    .woocommerce table.shop_table .product-price{
        border-right-width:1px
    }
    .woocommerce table.shop_table .buttons-cart td:after,.woocommerce table.shop_table .buttons-cart td:before{
        content:'';
        display:table
    }
    .woocommerce table.shop_table .buttons-cart td:after{
        clear:both
    }
    .vc_tta.vc_general .vc_tta-panel-body{
        padding:10px!important
    }
    .vg-newsletter-form .widget_wysija_cont .wysija-input{
        width:90%!important
    }
    .menu-category{
        display:none
    }
    .text-none{
        display:none!important
    }
    .button1,.button2,.text-none2,.title1,.title2,.title3{
        display:none
    }
    .shop-products.list-view .vgw-item-i .button-group .vgw-wishlist{
        clear:inherit
    }
    .shop-products.list-view .vgw-item-i .button-group .add-to-cart{
        margin-bottom:0
    }
    .post .post-wrapper{
        padding-right:0
    }
    .post .position_meta{
        position:relative;
        width:100%;
        padding-bottom:10px
    }
    .post .entry-meta span{
        display:inline-block;
        margin:0 15px 0 0
    }
    .post .posted-on{
        background:0 0
    }
    .post .posted-on a{
        color:#222;
        text-transform:none
    }
    .post .posted-on a:before{
        font-family:simple-line-icons;
        content:"\e081";
        color:#222;
        margin-right:5px;
        line-height:26px;
        font-size:12px
    }
    .post .posted-on .date{
        display:inline-block;
        margin-right:5px
    }
    .post .meta.byline span{
        margin:0!important
    }
    .post .meta.entry-format{
        display:none
    }
    .post .cat-links{
        padding:0;
        margin-top:0!important;
        border-top:0!important
    }
    .comments-area .comments-title{
        padding-left:0
    }
    .comments-area .comment-meta:after{
        display:none
    }
    .comments-area .comment-meta{
        display:inline-block
    }
    .comments-area .comment-list{
        padding-left:0
    }
    .comments-area .comment-list .comment-author img{
        position:relative;
        left:0
    }
    .comments-area .comment-content{
        border-top:1px solid #e0e0e0;
        margin-top:15px
    }
    .comment-respond{
        padding-left:0
    }
    .comments-area .comment-author,.comments-area .comment-metadata{
        display:inline-block!important
    }
    .vg-testimonials{
        margin-top:45px
    }
    .post.list .post-wrapper{
        padding-right:0
    }
    .blog-page.sidebar-right .site-content article .post-wrapper,.single-post.sidebar-right .site-content .post .post-wrapper{
        padding-left:0
    }
}
@media screen and (max-width:479px){
    .vina-product-search form{
        padding:5px!important;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -ms-border-radius:0;
        border-radius:0
    }
    .vina-product-search form .select-category{
        position:static;
        width:100%;
        border-bottom:1px solid #d9d9d9
    }
    .vina-product-search form input[type=text]{
        border:none!important;
        line-height:20px;
        padding:12px 15px!important;
        height:44px!important
    }
    .vina-product-search form button{
        bottom:5px;
        top:auto;
        right:5px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -ms-border-radius:0;
        border-radius:0;
        height:40px;
        line-height:40px
    }
    .block-static.style3 .box-col,.col-md-5ths,.list-person .vc_column_container{
        width:100%
    }
    .comments-area .children{
        padding:0
    }
    .comments-area .comment-author,.comments-area .comment-metadata{
        float:none;
        display:block;
        text-align:center
    }
    #customer_details .woocommerce-billing-fields .form-row{
        width:100%
    }
    .tp-bullets,.tparrows{
        display:none
    }
    .wpb_heading{
        font-size:18px;
        letter-spacing:normal
    }
    .woo-vertical-large .vgw-vertical .product-content,.woo-vertical-large .vgw-vertical .product-image{
        width:100%
    }
    .woo-vertical-large .vgw-vertical .product-content{
        padding:15px 0
    }
    .header-widget ul li,.topbar-widget ul li{
        padding:10px 0;
        margin-right:10px
    }
    .vina-product-search form .select-category{
        border-left:0
    }
    .vg-newsletter-form .widget_wysija_cont .wysija-input{
        width:85%!important
    }
    .button1,.button2,.text-none,.text-none2,.title1,.title3,.title4{
        display:none!important
    }
    .slider-home3 .rev_slider_wrapper .rev_slider ul li .title2,.slider-home3 .rev_slider_wrapper .rev_slider ul li .tp-mask-wrap .text-none2{
        display:none
    }
    .toolbar .woocommerce-pagination{
        float:none!important;
        margin-top:15px
    }
    .shop-products.list-view .vgw-item-i .button-group .vgw-wishlist{
        clear:both
    }
    .shop-products.list-view .vgw-item-i .button-group .add-to-cart{
        margin-bottom:15px
    }
    .vgp-item-i .post-meta li:first-child{
        padding-right:10px;
        margin-right:10px
    }
    .vgp-item-i .post-meta li:last-child{
        padding-left:10px;
        margin-left:10px
    }
    .vg-testimonials{
        margin-top:45px
    }
    #quick_view_container .product_content_wrapper .columns{
        width:100%
    }
    #quick_view_container .product_infos .label{
        display:-webkit-box;
        border:none!important;
        padding:0!important
    }
    #quick_view_container .product_infos .single_add_to_cart_button{
        margin-top:20px
    }
}
